body{
    color:brown;
    background-color: yellow;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}
h1{
    color:black;
    text-align:center;
}
#Iimg{
    width: 100px;
    height: 100px;
}
    



   * .para{
        color:blueviolet;
        font-style: italic;;
    }
    h2{
        font-size: 25px;
        font-weight: bolder;
    border: solid 1px;;
    text-align: center;
    }
            

        
    

    
    
    

    
    
    

    
    
    

    
    
    

    

    

    
    
    

    
    
    

    
    
    

    

    

    
    
    